/* Osnovni stil stranice */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

/* Stil za naslov */
h1 {
  color: #333;
}

/* Stil za navigaciju */
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

nav ul li {
  margin-right: 10px;
}

nav ul li a {
  color: #333;
  text-decoration: none;
  padding: 5px;
  border-radius: 3px;
}

nav ul li a:hover {
  background-color: #333;
  color: #fff;
}

/* Stil za poruku samo nekaj ispis */
p {
  color: #333;
  font-style: italic;
}
